*{
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #cbb3f8, #65e8bf);
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.col {
  display: inline-block;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}
.col1 {
  text-align: center;
  float: left;
}
.col2 {
  text-align: center;
  float: right;
}
.heading{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
}
#video1{
  border: 20px solid green;
  border-radius: 5px;
}
#video2{
  border: 20px solid grey;
  border-radius: 5px;
}

/* Counter */

span {
  font-size: 100px;
  padding: 10px;
  color: grey;
}

.btn ,.btn1  {
  background: none;
  outline: none;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.up {
  animation: up 0.5s ease;
  position: relative;
}

.down {
  animation: down 0.5s ease;
  position: relative;
}

@keyframes up {
  0% {
    top: 0px;
  }
  50% {
    top: -20px;
  }
  100% {
    top: 0px;
  }
}

@keyframes down {
  0% {
    top: 0px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

/* header */


header {
  color: #000;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  font-size: 16px;
  position: relative;
}

header h1 {
  text-transform: uppercase;
  font-size: 1.7em;
  letter-spacing: 1px;
}

.menu {
  display: flex;
}

.menu button {
  display: none;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
}

.right img {
  width: 100%;
  border-radius: 200px;
}

.left {
  max-width: 45%;
  padding: 40px 64px;
}

.right {
  padding: 100px 48px;
  width: 500px;
}

.container1{
  display: inline-block;
}

.msg {
  margin: 40px;
  color: white;
  font-size: 20px;
  letter-spacing: 0.7px;
  line-height: 32px;
  margin-bottom: 48px;
}


@media (max-width: 650px) {

  .main {
      flex-direction: column;
  }

  .left,
  .right {
      width: 100%;
      max-width: 100%;
      padding: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .left {
      font-size: 0.8em;
  }

  .left * {
      width: 95%;
      margin-bottom: 32px;
      text-align: center;
  }

  button.cta {
      max-width: 60%;
  }

  .right img {
      width: 80%;
  }

  .menu button {
      display: block;
      width: 40px;
      height: 40px;
      border: none;
      background: transparent;
      color: #711def;
      outline: none;
      font-size: 1.7em;
      cursor: pointer;
      z-index: 2;
  }

  .menu i.fa-times,
  .menu.opened i.fa-bars {
      display: none;
  }

  .menu.opened i.fa-times,
  .menu i.fa-bars {
      display: block;
      animation: enter 0.8s;
  }

  @keyframes enter {
      0% {
          opacity: 0;
      }

      100% {
          opacity: 1;
      }
  }

  .menu-list {
      position: fixed;
      top: 0;
      right: 0;
      width: 80%;
      height: 100%;
      background-color: #711def;
      color: #fff;
      padding: 46px;
      flex-direction: column;
      align-items: flex-end;
      padding-top: 80px;
      transform: translateX(100%);
      transition: transform 0.5s;
  }

  .menu-list li {
      font-size: 1.7em;
      margin: 32px 0px;
  }

  .menu.opened .menu-list {
      transform: translateX(0);
  }

  .menu.opened button {
      color: #fff;
  }
}

/* POP-UP TEXT */

.text1{
  font-size: 20px;
  margin-bottom: 5px;
}
.text2{
  font-size: 20px;
  margin-bottom: 5px;
}
