@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #cbb3f8, #65e8bf);
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.col {
  display: inline-block;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}
.col1 {
  text-align: center;
  float: left;
}
.col2 {
  text-align: center;
  float: right;
}
.heading{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
}
#video1{
  border: 20px solid green;
  border-radius: 5px;
}
#video2{
  border: 20px solid grey;
  border-radius: 5px;
}

/* Counter */

span {
  font-size: 100px;
  padding: 10px;
  color: grey;
}

.btn ,.btn1  {
  background: none;
  outline: none;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.up {
  animation: up 0.5s ease;
  position: relative;
}

.down {
  animation: down 0.5s ease;
  position: relative;
}

@keyframes up {
  0% {
    top: 0px;
  }
  50% {
    top: -20px;
  }
  100% {
    top: 0px;
  }
}

@keyframes down {
  0% {
    top: 0px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

/* header */


header {
  color: #000;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  font-size: 16px;
  position: relative;
}

header h1 {
  text-transform: uppercase;
  font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}



/* POP-UP TEXT */

.text1{
  font-size: 20px;
  margin-bottom: 5px;
}
.text2{
  font-size: 20px;
  margin-bottom: 5px;
}
