@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

a,
.btn {
    transition: all 300ms ease;
}

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.logo:hover {
    cursor: default;
}


#myBtn {
    width: 7vh;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 50%;
    font-size: 4vh;
}

section {
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#home-page {
    padding: top 5%;
    height: 120vh;
    margin: 0 10rem;
    display: flex;
    gap: 3rem;
    height: 80vh;
    width: 60vh;
}

#home-title {
    flex-direction: column;
}

#home-pic-id {
    margin-left: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-pic {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

@keyframes slideInLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.heading-1 {
    padding-top: 4rem;
    padding-bottom: 1rem;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-dircetion: normal;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 65px;
    font-weight: bolder;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/* Button */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    color: white;
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 15px;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-dircetion: normal;
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* documentation */
#documentation {
    position: relative;
    padding-top: 5vh;
    height: 100vh;
    margin: 0 5rem;
}

.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.title {
    text-align: center;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-weight: bolder;
    font-size: 3rem;
}

.doc-content {
    display: flex;
}

.text-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-card-head {
    padding-top: 20px;
}

.doc-photo-class {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 5vh;
}

.doc-pic {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.text-class {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 5vh;
    padding-left: 5vh;
}

/* aboutus */
#about-us {
    position: relative;
    padding-top: 5vh;
    height: 100vh;
    /* margin: 0 10rem; */

}


.about-us-box {
    width: 100vw;
    height: 60vh;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    padding: 20px;
    border: 1px solid #231557;
    box-sizing: border-box;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.about-us-box{
    display: flex;
}
.about-card{
    background-color: rgb(234, 230, 230);
    height: 90%;
    width: 18%;
    margin-left: 1.6%;
    margin-right: 1.6%;
    border-radius: 5%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.card-img{
    width: 96%;
    height: 50%;
    border-radius: 5%;
    margin: 2%;
    object-fit: cover;
    object-position: center;
}
.About-Name{
    margin-top: 5%;
    text-align: center;
    font-family: Sans-serif;
    color: #333131;
    text-decoration: underline;
}
.about-title{
    margin: 2%;
    text-align: center;
    color: grey;
}
.about-links{
    margin: 6%;
    height: 15%;
}
.about-links{
    display: flex;
}
.about-git-icon{
    height: 100%;
}
.about-linkdin-icon{
    height: 100%;
}
.about-link{
    width: 50%;
    text-align: center;
}

/* footer */
footer {
    height: 2vh;
    margin-top: 6vh;
}

footer p{
    text-align: center;
}
.nav-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}